body {
 /*background: url('raining.gif') repeat-; */
}
#doggo {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}
body, html { margin:0; padding:0; height:100%; width:100%; }
#doggo {position:fixed; left:0; top:0; z-index:1; height:100%; width:100%; }
