body {
background: url('background.png') repeat-x;
text-align: justify;
}
#main {
	width: 1000px;
	height: 600px;
}
p {
	font-family:"Calibri";
	font-size: 12pt;
	text-align: justify;
	text-indent: 48px;
	color: #00000;
}
