.logo {
    padding-top: 9px; 
    }
    body {
      text-align: center;
      color: white;
      background: url('./images/background.jpg')  no-repeat center center fixed;
      background-color: black;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    /* #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      } */
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    .about {
      padding-left: 100px;
      padding-right: 100px;
      margin: 10px;
      /* opacity: .8; */
    }
    .logo {
        /* opacity: 0.9; */
    }
    .about p span {
      font-size: 17px;
      font-family: 'Nunito', sans-serif;
      background-color: rgba(0, 0, 0, 0.55);
      box-shadow: 1px 1px 5px black;
    }
    .epictag {
      font-size: 10px; !important
    }
    img {
      margin: 5px;
      /* opacity: .99; */
    }
    a {
      color: white;
    }
    .links {
      /* opacity: .8; */
    }
